footer{
    box-shadow: 0 50vh 0 50vh #000;
    height: auto;
    background-color: black;
    border: none;
    margin: 0;
    padding: 0;
}

footer i{
    color: white;
    font-size: 22px;
    margin: 2vw 5vw 0;
}

.footer-glyphs{
    text-align: center;
}

footer p{
    color: rgb(104, 103, 103);
    font-family: 'Montserrat', sans-serif;
    font-size: 8px;
    text-align: center;
}

footer a{
    color: rgb(104, 103, 103);
    font-size: 8px;
}

@media only screen and (min-width: 1000px){
    footer{
        position: absolute;
        top: 90vh;
        width: 100%;
    }

    footer p{
        text-align: center;
        font-size: 0.7vw;
        margin: 0;
        padding-bottom: 0.5vw;
    }

    footer i{
        margin: 1vw 1vw 0;
    }

    footer a:hover, footer a:visited{
        color: rgb(104, 103, 103);
    }

    .footer-glyphs{
        margin: 0 35vw;
    }
}

@media only screen and (min-width: 500px) and (max-width: 1000px){

    footer i{
        font-size: 4vw;
        position: relative;
        left: 25vw;
    }

    footer p{
        margin: 0vw;
        right: 25vw;
        position: relative;
        top: 7vw;
    }