select{
    color: black;
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-color:#3D995C;
    box-shadow: 2vw 2vw 2vw rgb(45, 116, 69);
    border-radius: .25rem;
    margin: 8vw auto 8vw auto;
    text-align-last: center;
}

@media only screen and (min-width: 500px){
	select{
		height: 50px;
		margin-bottom: 20px;
		margin-top: 20px;
	}
}